<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

  <script>document.getElementsByTagName ( "html" )[0].className += " js";</script>
  <link rel="stylesheet" href="https://1000listnick.ru/css/style.css">
  <script>
      if (!('CSS' in window && CSS.supports ( 'color', 'var(--color-var)' ))) {
          document.write ( '<link rel="stylesheet" href="https://1000listnick.ru/css/style-fallback.css">' );
      }
  </script>
  <noscript>
    <link rel="stylesheet" href="https://1000listnick.ru/css/style-fallback.css">
  </noscript>

  <title>1000-LIST-NICK</title>
</head>
<body>
<script src="/js/dark-mode.js"></script>

<h2 class="text-center margin-top-xxl"> Мобильная версия находится в разработке </h2>
<header class="header js-header">
</header>

<script src="https://cdn.ckeditor.com/4.13.1/standard-all/ckeditor.js"></script>

<div class="_content my-4 margin-bottom-lg">


<footer class="main-footer padding-y-lg bg-primary" data-theme="default">
  <div class="container max-width-lg">
    <div class="main-footer__content grid justify-between">

      <div class="col-2 margin-left-auto">
        <a href="/" class="no-effect">
          <img src="https://1000listnick.ru/images/footer_icons/footer-logo.png" alt="1000LISTNICK" class="text-lg font-bold color-black">
        </a>
      </div>
    </div>

    <div class="main-footer__colophon">
      <div class="main-footer__colophon-nav">
        <span>&copy; 1000-list-nick</span>
      </div>
        <a class="icon dark-mode-switchers"></a>
      </div>
    </div>
  </div>
</footer>
<script src="https://1000listnick.ru/js/scripts.js"></script>
</body>
</html>