<section class="hero margin-bottom-xl " style="background-image: url('/images/seasonstart/seasonstartmain.jpg')">
  <div class="container max-width-adaptive-lg">
    <div class="hero__content text-center">
        <h1 style="font-size:5vw; color:white;">Старт сезона</h1>
    </div>
  </div>
</section>
<section class="max-width-adaptive-lg margin-x-auto">
    <h1 class="text-center margin-y-sm">Что такое Старт сезона?</h1>
    <p class="max-width-adaptive-sm margin-x-auto">
        Старт сезона – это ежегодная презентация, где можно познакомиться с вектором развития программы 1000-list-nick, 
        её технической направленности, и о том, какие показатели были достигнуты за предыдущий сезон.
    </p>
</section>



