{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
<form id="{entity_name.lower()}" action="/db/CompetitionDirection/new" method="post" enctype="multipart/form-data" onsubmit="return false">
<fieldset class="margin-bottom-md">
<legend class="form-legend">CompetitionDirection</legend>
</fieldset><div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form></div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
