{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if not(db_mode is defined) or db_mode%}<h3 class="margin-bottom-sm">
<a href="/db/Competition" class="no-effect" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам Competition</h3>
{% endif %}{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look") %}
{#{access_mode}#}
<form id="competition" action="{{(action_url if action_url is defined else "/db/Competition/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">Competition</legend>
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.id != Undefined) or competition is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Competition_id">id
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="number" name="id" id="Competition_id" placeholder="" {{
    ('value="%s"' % (competition.id if competition.id else "")
        if competition is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Competition_id_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.name != Undefined) or competition is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Competition_name">Название конкурса
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="text" name="name" id="Competition_name" placeholder="" {{
    ('value="%s"' % (competition.name if competition.name else "")
        if competition is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Competition_name_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.start != Undefined) or competition is not defined %}
<fieldset class="margin-bottom-md">
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="date_start">дата и время начала</label>
<input class="form-control width-100% text-sm" type="datetime-local" name="start" id="Competition_start" placeholder=""  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}
{% set value = 
    ('value="%s"' % (competition.start if competition.start else "")
        if competition is defined
        else "")|safe  %}
{% if "value" in value and value.split()|length == 2 %}
{{value.split() | join("T")}}
{% else %}
{{value}}
{% endif %}
>
</div></fieldset>
<div id="Competition_start_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.end != Undefined) or competition is not defined %}
<fieldset class="margin-bottom-md">
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="date_start">дата и время окончания приёма работ на конкурс</label>
<input class="form-control width-100% text-sm" type="datetime-local" name="end" id="Competition_end" placeholder=""  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}
{% set value = 
    ('value="%s"' % (competition.end if competition.end else "")
        if competition is defined
        else "")|safe  %}
{% if "value" in value and value.split()|length == 2 %}
{{value.split() | join("T")}}
{% else %}
{{value}}
{% endif %}
>
</div></fieldset>
<div id="Competition_end_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.description != Undefined) or competition is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Competition_description">Описание конкурса
</label>
<input class="form-control width-100% text-sm" type="text" name="description" id="Competition_description" placeholder="" {{
    ('value="%s"' % (competition.description if competition.description else "")
        if competition is defined
        else 'value="''"'|safe)|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Competition_description_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (competition is defined and competition.document != Undefined) or competition is not defined %}
<fieldset class="file-upload margin-bottom-sm"><label class="form-label margin-bottom-xxs" for="Competition_document">Ркгламент проведения конкурса
</label>
<br><label for="Competition_document" class="file-upload__label btn btn--primary"><span class="flex items-center"><span class="file-upload__text" id="Competition_document_span">{% set value = 
    ('value="%s"' % (competition.document if competition.document else "")
        if competition is defined
        else 'value="''"'|safe)|safe  %}{{ value | replace("value=", "") | replace('"', "") if "value" in value and value | replace("value=", "") | replace('"', "") != '""' else "Загрузить" }}</span></span> </label> <input type="file" accept="application/x-zip-compressed,application/zip,multipart/x-zip,application/x-compressed,application/msword,application/msword,application/msword,application/pdf" class="file-upload__input"  name="document" id="Competition_document" placeholder="" {{
    ('value="%s"' % (competition.document if competition.document else "")
        if competition is defined
        else 'value="''"'|safe)|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}  {{
    ('value="%s"' % (competition.document if competition.document else "")
        if competition is defined
        else 'value="''"'|safe)|safe }} tabindex="-1"></fieldset><div id="Competition_document_error"></div>{% endif %}{% endif %}{% endif %}</fieldset>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
{% if not(db_mode is defined) or db_mode%}<br><h3 class="margin-bottom-sm">
<a href="/db/Competition" class="no-effect" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам Competition</h3>
{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
