{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look") %}
{#{access_mode}#}
<form id="criterion" action="{{(action_url if action_url is defined else "/db/Criterion/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">Criterion</legend>
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
id имеет тип number, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
task имеет тип select, который еще не поддерживается...
</label></div>

{% if access_mode is defined and access is defined %}
{{access_mode}}{{access}}   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
{{ns.good_modes}}{{access_dict}}{{ access_dict.get("dev", [])}}   {% if access_mode in ns.good_modes %}
{{"=-09876543"}}      {% if (criterion is defined and criterion.name != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_name">Название критерия
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="text" name="name" id="Criterion_name" placeholder="" {{('value="' + (criterion.name if criterion.name else "") + '"' 
        if criterion is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_name_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
{{access_mode}}{{access}}   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
{{ns.good_modes}}{{access_dict}}{{ access_dict.get("dev", [])}}   {% if access_mode in ns.good_modes %}
{{"=-09876543"}}      {% if (criterion is defined and criterion.description != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_description">Описание критерия
</label>
<input class="form-control width-100% text-sm" type="text" name="description" id="Criterion_description" placeholder="" {{('value="' + (criterion.description if criterion.description else "") + '"' 
        if criterion is defined
        else "")|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_description_error"></div>{% endif %}{% endif %}{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
max_value имеет тип number, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
mark_works имеет тип select, который еще не поддерживается...
</label></div>
</fieldset>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
