{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if not(db_mode is defined) or db_mode%}<h3 class="margin-bottom-sm">
<a href="/db/Criterion" class="no-effect" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам Criterion</h3>
{% endif %}{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look") %}
{#{access_mode}#}
<form id="criterion" action="{{(action_url if action_url is defined else "/db/Criterion/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">Criterion</legend>
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['edit', 'look'], 'admin': ['look'], 'expert': ['look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (criterion is defined and criterion.id != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_id">id
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="number" name="id" id="Criterion_id" placeholder="" {{
    ('value="%s"' % (criterion.id if criterion.id else "")
        if criterion is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_id_error"></div>{% endif %}{% endif %}{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
task имеет тип select, который еще не поддерживается...
</label></div>

{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (criterion is defined and criterion.name != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_name">Название критерия
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="text" name="name" id="Criterion_name" placeholder="" {{
    ('value="%s"' % (criterion.name if criterion.name else "")
        if criterion is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_name_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (criterion is defined and criterion.description != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_description">Описание критерия
</label>
<input class="form-control width-100% text-sm" type="text" name="description" id="Criterion_description" placeholder="" {{
    ('value="%s"' % (criterion.description if criterion.description else "")
        if criterion is defined
        else 'value="''"'|safe)|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_description_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (criterion is defined and criterion.max_value != Undefined) or criterion is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Criterion_max_value">Максимальное количество баллов за критерий
</label>
<input class="form-control width-100% text-sm" type="number" name="max_value" id="Criterion_max_value" placeholder="" {{
    ('value="%s"' % (criterion.max_value if criterion.max_value else "")
        if criterion is defined
        else "")|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Criterion_max_value_error"></div>{% endif %}{% endif %}{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
mark_works имеет тип select, который еще не поддерживается...
</label></div>
</fieldset>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
{% if not(db_mode is defined) or db_mode%}<br><h3 class="margin-bottom-sm">
<a href="/db/Criterion" class="no-effect" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам Criterion</h3>
{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
