{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if disabled is not defined or not disabled %}<form id="{entity_name.lower()}" action="{{(action_url if action_url is defined else "/db/Developer/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}<fieldset class="margin-bottom-md">
<legend class="form-legend">Developer</legend>
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
id имеет тип number, который еще не поддерживается...
</label></div>

{% if (developer is defined and developer.username != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_username">username
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="username" id="Developer_username" 
        {{
                ('value="' + developer.username + '"'
                if developer is defined
                else
                "")|safe
        }} required {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_username_error"></div></div>{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
password имеет тип password, который еще не поддерживается...
</label></div>

{% if (developer is defined and developer.name != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_name">name
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="name" id="Developer_name" 
        {{
                ('value="' + developer.name + '"'
                if developer is defined
                else
                "")|safe
        }} required {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_name_error"></div></div>{% endif %}
{% if (developer is defined and developer.surname != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_surname">surname
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="surname" id="Developer_surname" 
        {{
                ('value="' + developer.surname + '"'
                if developer is defined
                else
                "")|safe
        }} required {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_surname_error"></div></div>{% endif %}
{% if (developer is defined and developer.email != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_email">email
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="email" id="Developer_email" 
        {{
                ('value="' + developer.email + '"'
                if developer is defined
                else
                "")|safe
        }} required {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_email_error"></div></div>{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
human_contacts имеет тип adding_field, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
photo имеет тип image, который еще не поддерживается...
</label></div>

{% if (developer is defined and developer.status != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_status">status
</label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="status" id="Developer_status" 
        {{
                ('value="' + developer.status + '"'
                if developer is defined
                else
                "")|safe
        }} {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_status_error"></div></div>{% endif %}
{% if (developer is defined and developer.description != Undefined) or developer is not defined %}<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Developer_description">description
</label>
<input class="form-control width-100% text-sm" placeholder="" type="text" name="description" id="Developer_description" 
        {{
                ('value="' + developer.description + '"'
                if developer is defined
                else
                "")|safe
        }} {{ ("disabled" if disabled is defined and disabled else "")|safe }}>
<div id="Developer_description_error"></div></div>{% endif %}</fieldset>{% if disabled is not defined or not disabled %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
