{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if disabled is not defined or not disabled %}<form id="{entity_name.lower()}" action="{{(action_url if action_url is defined else "/db/MarkWork/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}<fieldset class="margin-bottom-md">
<legend class="form-legend">MarkWork</legend>
<label class="form-label margin-bottom-xxxs" for="MarkWork_criterion">criterion <span class="color-error">*</span></label><div class="select"><select class="select__input form-control text-sm" name="criterion" id="MarkWork_criterion" required<option disabled {"" if markwork is defined  and bool(markwork.criterion) else "selected"}></option>
<label class="form-label margin-bottom-xxxs" for="MarkWork_user_work">user_work <span class="color-error">*</span></label><div class="select"><select class="select__input form-control text-sm" name="user_work" id="MarkWork_user_work" required<option disabled {"" if markwork is defined  and bool(markwork.user_work) else "selected"}></option>
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
value имеет тип number, который еще не поддерживается...
</label></div>
</fieldset>{% if disabled is not defined or not disabled %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
