{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if not(db_mode is defined) or db_mode%}<h3 class="margin-bottom-sm">
<a href="/db/SimpleEntity" class="no-effect url_as_ajax" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам SimpleEntity</h3>
{% endif %}{% if (access_mode is defined and access_mode != "look") %}
<form id="simpleentity" action="{{(action_url if action_url is defined else "/db/SimpleEntity/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">SimpleEntity</legend>
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (simpleentity is defined and simpleentity.key != Undefined) or simpleentity is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="SimpleEntity_key">Название новой колонки в базе данных
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="text" name="key" id="SimpleEntity_key" placeholder="" {{
    ('value="%s"' % (simpleentity.key if simpleentity.key else "")
        if simpleentity is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="SimpleEntity_key_error"></div>{% endif %}{% endif %}{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
data имеет тип db_json, который еще не поддерживается...
</label></div>
</fieldset>{% if (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
{% if not(db_mode is defined) or db_mode%}<br><h3 class="margin-bottom-sm">
<a href="/db/SimpleEntity" class="no-effect url_as_ajax" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам SimpleEntity</h3>
{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
