{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
<h3 class="margin-bottom-sm"><a href="/db/Task" class="no-effect" title="Вернуться к просмотру объектов БД"><i class="fa fa-long-arrow-alt-left"></i></a>Вернуться ко всем объектам Task</h3>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look") %}
{#{access_mode}#}
<form id="task" action="{{(action_url if action_url is defined else "/db/Task/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">Task</legend>
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['edit', 'look'], 'admin': ['edit', 'look'], 'expert': ['look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (task is defined and task.id != Undefined) or task is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Task_id">id
<span class="color-error">*</span></label>
<input class="form-control width-100% text-sm" type="number" name="id" id="Task_id" placeholder="" {{
    ('value="%s"' % (task.id if task.id else "")
        if task is defined
        else "")|safe }}  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Task_id_error"></div>{% endif %}{% endif %}{% endif %}
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
competition_direction имеет тип select, который еще не поддерживается...
</label></div>

{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (task is defined and task.task_document != Undefined) or task is not defined %}
<fieldset class="file-upload margin-bottom-sm"><label class="form-label margin-bottom-xxs" for="Task_task_document">документ с заданием
</label>
<br><label for="Task_task_document" class="file-upload__label btn btn--primary"><span class="flex items-center"><span class="file-upload__text" id="Task_task_document_span">{% set value = 
    ('value="%s"' % (task.task_document if task.task_document else "")
        if task is defined
        else "")|safe  %}{{ value | replace("value=", "") | replace('"', "") if "value" in value and value | replace("value=", "") | replace('"', "") != '""' else "Загрузить" }}</span></span> </label> <input type="file" accept="application/msword,application/pdf,application/x-zip-compressed,application/zip,multipart/x-zip,application/x-compressed,application/msword,application/msword" class="file-upload__input"  name="task_document" id="Task_task_document" placeholder="" {{
    ('value="%s"' % (task.task_document if task.task_document else "")
        if task is defined
        else "")|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}  {{
    ('value="%s"' % (task.task_document if task.task_document else "")
        if task is defined
        else "")|safe }} tabindex="-1"></fieldset><div id="Task_task_document_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (task is defined and task.description != Undefined) or task is not defined %}
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="Task_description">Краткое описание задания
</label>
<input class="form-control width-100% text-sm" type="text" name="description" id="Task_description" placeholder="" {{
    ('value="%s"' % (task.description if task.description else "")
        if task is defined
        else "")|safe }}  {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}>
</div><div id="Task_description_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (task is defined and task.start != Undefined) or task is not defined %}
<fieldset class="margin-bottom-md">
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="date_start">дата и время начала проведения этапа</label>
<input class="form-control width-100% text-sm" type="datetime-local" name="start" id="Task_start" placeholder=""  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}
{% set value = 
    ('value="%s"' % (task.start if task.start else "")
        if task is defined
        else "")|safe  %}
{% if "value" in value and value.split()|length == 2 %}
{{value.split() | join("T")}}
{% else %}
{{value}}
{% endif %}
>
</div></fieldset>
<div id="Task_start_error"></div>{% endif %}{% endif %}{% endif %}
{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['create', 'edit', 'look'], 'admin': ['create', 'edit', 'look'], 'expert': ['create', 'edit', 'look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (task is defined and task.end != Undefined) or task is not defined %}
<fieldset class="margin-bottom-md">
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="date_start">дата и время окончания приёма работ на этот этап</label>
<input class="form-control width-100% text-sm" type="datetime-local" name="end" id="Task_end" placeholder=""  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}
{% set value = 
    ('value="%s"' % (task.end if task.end else "")
        if task is defined
        else "")|safe  %}
{% if "value" in value and value.split()|length == 2 %}
{{value.split() | join("T")}}
{% else %}
{{value}}
{% endif %}
>
</div></fieldset>
<div id="Task_end_error"></div>{% endif %}{% endif %}{% endif %}</fieldset>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
