{# =======!!! ВНИМАНИЕ !!!======= #}
{# =======! Этот файл генерируется автоматически на основе документации класса сущности БД в файле app/db/models.py !=======#}

{# =======! Ни одно изменение в этом файле не будет сохранено! !======= #}

<div class="container max-width-lg">
{% if not(db_mode is defined) or db_mode%}<h3 class="margin-bottom-sm">
<a href="/db/UserWork" class="no-effect url_as_ajax" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам UserWork</h3>
{% endif %}{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look") %}
{#{access_mode}#}
<form id="userwork" action="{{(action_url if action_url is defined else "/db/UserWork/new")|safe }}" method="{{ (send_method if send_method is defined else "post")|safe }}" enctype="multipart/form-data" onsubmit="return false">
{% endif %}
<fieldset class="margin-bottom-md">
<legend class="form-legend">UserWork</legend>
<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
task имеет тип select, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
work имеет тип url, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
mark_works имеет тип select, который еще не поддерживается...
</label></div>

<div class="margin-bottom-sm"><label class="form-label margin-bottom-xxs">
user имеет тип select, который еще не поддерживается...
</label></div>

{% if access_mode is defined and access is defined %}
   {% set ns = namespace(good_modes=[]) %}
   {% set access_dict = {'dev': ['edit', 'look'], 'admin': ['edit', 'look'], 'expert': ['edit', 'look'], 'user': ['look']} %}
   {% for a in access %}
       {% set ns.good_modes = ns.good_modes + access_dict.get(a, []) %}
    {% endfor %}
   {% if access_mode in ns.good_modes %}
      {% if (userwork is defined and userwork.upload_date != Undefined) or userwork is not defined %}
<fieldset class="margin-bottom-md">
<div class="margin-bottom-sm">
<label class="form-label margin-bottom-xxs" for="date_start">Время последнего обновления</label>
<input class="form-control width-100% text-sm" type="datetime-local" name="upload_date" id="UserWork_upload_date" placeholder=""  required {{ ("disabled" if (disabled is defined and disabled) or (access_mode is defined and access_mode == "look")  else "")|safe }}
{% set value = 
    ('value="%s"' % (userwork.upload_date if userwork.upload_date else "")
        if userwork is defined
        else 'value="<function UserWork.<lambda> at 0x0000020127E91790>"'|safe)|safe  %}
{% if "value" in value and value.split()|length == 2 %}
{{value.split() | join("T")}}
{% else %}
{{value}}
{% endif %}
>
</div></fieldset>
<div id="UserWork_upload_date_error"></div>{% endif %}{% endif %}{% endif %}</fieldset>{% if (disabled is not defined or not disabled) or (access_mode is defined and access_mode != "look")  %}<div>
<button class="btn btn--primary" type="submit" id="submit">Отправить</button>
<button class="btn btn--subtle" type="reset">Сбросить</button>
</div></form>
{% endif %}
{% if not(db_mode is defined) or db_mode%}<br><h3 class="margin-bottom-sm">
<a href="/db/UserWork" class="no-effect url_as_ajax" title="Вернуться к просмотру объектов БД">
<i class="fa fa-long-arrow-alt-left"></i></a>
Вернуться ко всем объектам UserWork</h3>
{% endif %}</div><script src="{{url_for("scripts", path="/async_forms_and_redirects.js")}}"></script>
