.flame-ul {
    list-style-image: url('/images/flame_dots/flame.svg') !important;
}

.border-grey {
    border-radius: 20px;
    border: 2px solid #E5E5E5;
}

.border-pr {
    border: solid 4px var(--color-primary);
    border-radius: 10px;
}

.hr-black {
    margin: var(--space-xs) auto !important;
    border: 1px solid;
}
.hr-dashed {
	border: none;
	border-top: 4px dashed var(--color-primary);
}

.round-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


a:not(.icon, .no-effect, .no-effect *, .btn) {
    @extend .text-bg-fx;
    @extend .text-bg-fx--underline;
}
