<section class="hero margin-bottom-xl " style="background-image:{{url_for('img', path='/pages/successfactor/mainsf.jpg')}}">

     <!--  url('/images/successfactor/mainsf.jpg') -->
  <div class="container max-width-adaptive-lg">
    <div class="hero__content text-center">
        <h1 style="font-size:5vw; color:white;">Фактор успеха</h1>
    </div>
  </div>
</section>
<section class="max-width-adaptive-lg margin-x-auto">
    <h1 class="text-center margin-y-sm">Что такое Фактор успеха?</h1>
    <p class="max-width-adaptive-sm margin-x-auto">
        Командная бизнес-игра для учащихся и педагогов образовательных учреждений Пензенской области,
         которая помогает понять взаимосвязь личных интересов и интересов компании.
         Здесь можно научиться эффективному поведению на рынке, ориентированности на клиентов и пониманию их потребностей.
         Игра демонстрирует взаимосвязь доходов компании и работы с клиентами и развивает навыки их обслуживания.
    </p>
</section>

<div class="padding-y-xl">
    <h1 class="text-center"> Как проходит «Фактора успеха»? </h1>
    <div class="grid margin-y-md grid-gap-md justify-center padding-x-xxxxl">
        <div class="grid col-5@xl text-center margin-y-xs items-center">
            <div class="col-12 border-pr padding-sm">

            <p>
                Каждая команда - предприятие на рынке потребительских товаров и услуг – получает стартовый капитал.
            </p>
            </div>
        </div>
        <div class=" col-5@xl  text-center margin-y-xs ">
            <img class="width-100%" style="border-radius: 10px" src="{{url_for('img', path='/pages/successfactor/4.jpg')}}">
            <!-- /images/successfactor/1.jpg -->

        </div><!--pic-->
    </div>
    <div class="grid margin-y-md grid-gap-md justify-center padding-x-xxxxl">
        <div class=" col-5@xl  text-center margin-y-xs margin-right-lg">

            <img class="width-100%" style="border-radius: 10px"  src="{{url_for('img', path='/pages/successfactor/2.jpg')}}">
            <!-- /images/successfactor/2.jpg -->
        </div><!--pic-->
        <div class="grid col-5@xl text-center margin-y-xs items-center">
            <div class="col-12 border-pr padding-sm">

            <p>
                Каждый участник одновременно и сотрудник своей компании, и клиент для других.

            </div>
        </div>
    </div>
    <div class="grid margin-y-md grid-gap-md justify-center padding-x-xxxxl">
        <div class="grid col-5@xl text-center margin-y-xs items-center">
            <div class="col-12 border-pr padding-sm">

            <p>
                Компании могут вкладывать финансовые ресурсы в производство, рекламу и персонал.
            </p>
            </div>
        </div>
        <div class=" col-5@xl text-center margin-y-xs ">
            <img class="width-100%" style="border-radius: 10px"  src="{{url_for('img', path='/pages/successfactor/3.jpg')}}">
            <!--/images/successfactor/3.jpg-->
        </div><!--pic-->
    </div>
    <div class="grid margin-y-md grid-gap-md justify-center padding-x-xxxxl">
        <div class=" col-5@xl  text-center margin-y-xs margin-right-lg">

            <img class="width-100%" style="border-radius: 10px"  src="{{url_for('img', path='/pages/successfactor/4.jpg')}}">
            <!--/images/successfactor/4.jpg -->
        </div><!--pic-->
        <div class="grid col-5@xl text-center margin-y-xs items-center">
            <div class="col-12 border-pr padding-sm">

            <p>
                Цель - максимально эффективное решение бизнес-задачи, сохранение и преумножение средств компании.
            </p>
            </div>
        </div>
    </div>
</div>

