

<section class="hero margin-bottom-xl " style="background-image: {{url_for('img', path='/pages/teengrad/tg-hero.jpg')}}">
    <!--url('/images/teengrad/tg-hero.jpg') -->
  <div class="container max-width-adaptive-lg" data-theme="dark">
    <div class="hero__content text-center">
    </div>
  </div>
</section>



<section class="feature">
  <div class="container max-width-adaptive-lg">
    <div class="grid grid-gap-md justify-center items-center" >
      <div class="col-6@md order-2@md">
        <div class="text-component">
          <h1>Что такое TeenГрад?</h1>
          <p>Летняя школа Teenград – главное событие года и самое яркое мероприятие проекта.
              За десять дней тебе нужно успеть не только выполнить кейс и попро- бовать себя в
              чем-то новом, но и погрузиться в атмосферу лагеря, найти настоящих друзей и увезти
              с собой массу впечатлений. TeenГрад – место, где возможно всё! Формат мероприятия
              насыщен интеллектуальными и культурно-досуговыми мероприятиями.</p>
        </div>
      </div>

      <div class="col-4@md order-1@md">

          <img style="height: auto; width: auto;" src="{{url_for('img', path='/pages/teengrad/tg-circle.png')}}">
          <!--/images/teengrad/tg-circle.png -->
      </div>
    </div>
  </div>
</section>

<section class="margin-bottom-xl margin-top-md">
    <div class="container max-width-adaptive-sm">
    <ul class="grid-auto-lg grid-gap-sm">

        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-1.jpg')}}" alt="placeholder"></li>
        <!--/images/teengrad/cards/tg-img-1.jpg-->
        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-2.jpg')}}" alt="placeholder"></li>
        <!-- /images/teengrad/cards/tg-img-2.jpg-->
        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-3.jpg')}}" alt="placeholder"></li>
        <!-- /images/teengrad/cards/tg-img-3.jpg-->
        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-4.jpg')}}" alt="placeholder"></li>
        <!--/images/teengrad/cards/tg-img-4.jpg -->
        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-5.jpg')}}" alt="placeholder"></li>
        <!--/images/teengrad/cards/tg-img-5.jpg -->
        <li><img class="width-150%" src="{{url_for('img', path='/pages/teengrad/cards/tg-img-6.jpg')}}" alt="placeholder"></li>
        <!--/images/teengrad/cards/tg-img-6.jpg -->
    </ul>
    </div>
</section>

<div class="padding-y-xl max-width-adaptive-lg margin-x-auto">
    <h1 class="text-center"> Что ты получишь </h1>
    <div class="grid margin-y-md grid-gap-md justify-center">
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="fas fa-user-friends"></i> Команда единомышленников
            </p>
            <p>
                Работа летней школы происходит в МИПах, в которых состоят юные специалисты и тьюторы, идущие к общей цели.
            </p>
        </div>
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="fas fa-desktop"></i> Современное оборудование
            </p>
            <p>
                В Teenграде присутствует оборудованный технопарк, где можно найти 3D принтеры, лазерные станки и много чего интересного.
            </p>
        </div>
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="fas fa-cog"></i> Работа над реальным проектом
            </p>
            <p>
                На протяжении всего лагеря вы и ваша команда разрабатываете проект, который представите в последний день Teenграда.
            </p>
        </div>
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="fas fa-book-open"></i> Лекции от практикующих специалистов
            </p>
            <p>
                Часто в Teenграде проводятся лекции или мастер-классы от специалистов ведущих компаний, таких как "ВКонтакте" или "Funcorp".
            </p>
        </div>
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="fas fa-music"></i> Ежедневные мероприятия
            </p>
            <p>
                 Каждый вечер в Teenграде проводятся мероприятия, где твоей команде предстоит лучше узнать друг друга.
            </p>
        </div>
        <div class=" col-6@md col-9 border-pr text-center margin-y-xs padding-sm">
            <p class="color-primary" style="font-size: 1.5em;">
                <i class="far fa-laugh"></i> Потрясающая атмосфера
            </p>
            <p>
                Такой уникальной атмосферы, как в Teenграде, больше нигде не найти. Мы уверены, что летняя школа навсегда останется в твоем сердце.
            </p>
        </div>

    </div>
</div>

<!---------Methods--------->
<section class="features margin-y-md">

    <div class="margin-bottom-lg">
        <h1 class="text-center">
        Методы работы
        </h1>
    </div>
  <div class="container max-width-adaptive-lg">
    <div class="grid grid-gap-md items-center">
      <div class="col-6@md">


        <div class="text-component">
          <h1>Методология канбан</h1>
            <hr style="margin: var(--space-md) auto !important">
          <p> Канбан — система организации производства и снабжения, позволяющая реализовать
              принцип «точно в срок». В начале дня менеджер проекта дает задачу, которую участник
              проекта должен выполнить в течении 1-2 дней. После завершения работы проводится
              рефлексия, где обговариваются успехи каждого из участников, даются
              советы по улучшению работы, строятся планы на следующий день.</p>
        </div>
      </div>

      <div class="col-6@md">

          <img class="block width-100%" src="{{url_for('img', path='/pages/teengrad/methods/method_2.png')}}" alt="Image description">
          <!--/images/teengrad/methods/method_1.png-->

      </div>
    </div>
  </div>
</section>

<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
</div>

<section class="feature padding-sm margin-bottom-md">
  <div class="container max-width-adaptive-lg">
    <div class="grid grid-gap-md items-center">
      <div class="col-6@md order-2@md">
        <div class="text-component">
          <h1>Fun Study</h1>
            <hr style="margin: var(--space-md) auto !important">
          <p>Не нужно думать, что TeenГрад - это только работа над проектами.
            Занятия в МИП и развлечения в летней школе постоянно чередуются друг с другом.
            Каждый вечер проводятся мероприятия на сплочение команды. Также существуют много кружков,
            где участники могут отдохнуть и проявить свои творческие способности.
            Поэтому в Teenград едут не только за профессиональными навыками, но и за эмоциями.</p>
        </div>

        <div class="margin-top-sm">
          <div class="flex flex-wrap flex-gap-sm items-center">

          </div>
        </div>
      </div>

      <div class="col-6@md order-1@md">

          <img class="width-100%" src="{{url_for('img', path='/pages/teengrad/methods/method_2.png')}}">
          <!--/images/teengrad/methods/method_2.png-->
      </div>
    </div>
  </div>
</section>

<section class="features">


  <div class="container max-width-adaptive-lg">
    <div class="grid grid-gap-md items-center">
      <div class="col-6@md">


        <div class="text-component">
          <h1>Метод Peer-To-Peer</h1>
            <hr style="margin: var(--space-md) auto !important">
          <p>Чтобы успешно пройти летнюю школу, участники должны работать в команде, делиться опытом.
            Ты можешь быть поочередно то учеником, то тренером.
            Такой подход помогает максимально раскрыть творческие
            способности участников во время работы над проектами</p>
        </div>

        <div class="margin-top-sm">
          <div class="flex flex-wrap flex-gap-sm items-center">

          </div>
        </div>
      </div>

      <div class="col-6@md">
        <figure>
          <img class="block width-100%" src="{{url_for('img', path='/pages/teengrad/methods/method_3.png')}}" alt="Image description">
       <!-- /images/teengrad/methods/method_3.png -->
        </figure>
      </div>
    </div>
  </div>
</section>





