
<h1>Авторизация {{who}}</h1>
<form action="{{auth_url}}" method="post" onsubmit="return false">
    <input name="username" placeholder="Ваш логин" data-name="username" id="oauth_username">
    <input name="password" placeholder="Ваш пароль" type="password" data-name="password"  id="oauth_password">
    <input type="submit" id="submit">
    <a href="{{request.url | replace(request.base_url, '')}}/me">перейти в личный кабинет</a>
    {#{request.url.replace(request.base_url, '')}#}
    {% include '././some_code.html' %}
    <script >
        $('#submit').click((event) => {
            console.log("авторизация")
            event.preventDefault();
            // const login_form = new FormData();
            // login_form.append('username', $("#username").val());
            // login_form.append('password', $("#password").val());

            $.ajax({
                url: '{{auth_url}}',
                headers: {
                    "Accept": "application/json, text/plain, */*",
                    "Authorization": "Basic Og==",
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-Requested-With": "XMLHttpRequest",
                },
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: $("#oauth_username, #oauth_password").serialize(),

                success: data => {
                    console.log(data);
                    if (data["access_token"]){
                        localStorage.setItem('token', data["access_token"]);
                    }


                }
            });
        });

        console.log("{{who}}")
        send_form_as_ajax();
        urls_as_ajax();
        set_fixed_position_event();
    </script>