<section class="hero margin-bottom-xl " style="background-image: url('/images//dominno/dommain.jpg')">
  <div class="container max-width-adaptive-lg">
    <div class="hero__content text-center">
        <h1 style="font-size:5vw; color:white;">ДомInno</h1>
    </div>
  </div>
</section>
<section class="max-width-adaptive-lg margin-x-auto">
    <h1 class="text-center margin-y-sm">Что такое ДомInno?</h1>
    <p class="max-width-adaptive-sm margin-x-auto">
        Зимняя школа ДомInno – это 4 дня активной наработки профильных навыков, и подготовительный этап к летней школе TeenГрад.
        Здесь ты сможешь прокачать актуальные и современные технические, маркетинговые и медийные компетенции. Отвлечься от обучения и отдохнуть поможет развлекательная программа – вечерние мероприятия, пронизанные теплой атмосферой зимней школы.
        ДомInno - подходящая среда для эффективного нетворкинга. Стань настоящим специалистом и прояви свои умения в будущих проектах!
    </p>
</section>

<div class="padding-y-xl max-width-adaptive-lg margin-x-auto">
    <h1 class="text-center"> Тебя ждут </h1>
    <div class="margin-y-md ">
        <div class="grid grid-gap-md justify-center">
            <div class="grid col-5@md col-9 text-center margin-y-xs padding-sm items-center">
                <div class="col-12 border-pr padding-sm">
                    <p class="color-primary" style="font-size: 1.5em;">
                        <i class="fas fa-cogs"></i> Оборудованные лаборатории
                    </p>
                    <p>
                        16 часов интенсивной работы по выбранному направлению. У нас есть всё необходимое для твоего развития.
                    </p>
                </div>
            </div>

            <div class=" col-5@md col-9 text-center margin-y-xs">
                <img class="width-100%" style="border-radius: 10px" src="/images//dominno/1.jpg">
            </div><!-- pic -->
        </div>

        <div class="grid grid-gap-md justify-center">
            <div class="grid col-5@md col-9 text-center margin-y-xs padding-sm items-center order-2@md">
                <div class="col-12 border-pr padding-sm">
                    <p class="color-primary" style="font-size: 1.5em;">
                        <i class="fas fa-users"></i> Работа в команде
                    </p>
                    <p>
                        Опытные наставники, единомышленники и новые знакомства. Стань частью профессионального сообщества.
                    </p>
                </div>
            </div>

            <div class=" col-5@md col-9 text-center margin-y-xs order-1@md">
                <img class="width-100%" style="border-radius: 10px"  src="/images//dominno/2.jpg">
            </div><!-- pic -->

        </div>
        <div class="grid grid-gap-md justify-center">
            <div class="grid col-5@md col-9 text-center margin-y-xs padding-sm items-center">
                <div class="col-12 border-pr padding-sm">
                    <p class="color-primary" style="font-size: 1.5em;">
                        <i class="fas fa-dice"></i> Интересный досуг
                    </p>
                    <p>
                        Наши тьюторы знают, как помочь тебе раскрыться и завести друзей. Скучать точно не придётся.
                    </p>
                </div>
            </div>

            <div class=" col-5@md col-9 text-center margin-y-xs">
                <img class="width-100%" style="border-radius: 10px"  src="/images//dominno/3.jpg">
            </div><!-- pic -->
        </div>

    </div>
</div>

